@model IEnumerable<BusinessLogicLayer.RaceBLL>

@{
    ViewBag.Title = "Races";
}

<h2 style="color:white;">Race Listing</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th hidden>
            @Html.DisplayNameFor(model => model.RaceID)
        </th>
        <th style="color:white;">
            @Html.DisplayNameFor(model => model.RaceName)
        </th>
        <th hidden>
            @Html.DisplayNameFor(model => model.RaceModifier)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td hidden>
            @Html.DisplayFor(modelItem => item.RaceID)
        </td>
        <td style="color:white;">
            @Html.DisplayFor(modelItem => item.RaceName)
        </td>
        <td hidden>
            @Html.DisplayFor(modelItem => item.RaceModifier)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.RaceID }) |
            @Html.ActionLink("Details", "Details", new {  id=item.RaceID }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.RaceID })
        </td>
    </tr>
}

</table>
