@model IEnumerable<BusinessLogicLayer.ClassBLL>

@{
    ViewBag.Title = "Index";
}s
<style>
    .table-hover tbody tr:hover {
  color: #fff;
  background-color: #cf0404;
}

    a{color: #fff;}
</style>
<h2 style="color:white;">Class Listing</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th hidden>
            @Html.DisplayNameFor(model => model.ClassID)
        </th>
        <th style="color:white;">
            @Html.DisplayNameFor(model => model.ClassName)
        </th>
        <th style="color:white;">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th hidden>
            @Html.DisplayNameFor(model => model.ClassModifier)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td hidden>
            @Html.DisplayFor(modelItem => item.ClassID)
        </td>
        <td style="color:white;">
            @Html.DisplayFor(modelItem => item.ClassName)
        </td>
        <td style="color:white;">
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td hidden>
            @Html.DisplayFor(modelItem => item.ClassModifier)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.ClassID }) |
            @Html.ActionLink("Details", "Details", new {  id=item.ClassID }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.ClassID })
        </td>
    </tr>
}

</table>
